@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-family: "Rubik Scribble", system-ui;
    font-size: 1.8rem;
}

body {
    background-image: url('/assets/img/bkg.svg');
    font-family: "Anta", sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

main {
    flex-grow: 1;
}

form {
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    width: 200px;
    gap: 0.2rem;
    padding: 0.8rem;
    background-color: #c9c0ba;
    border-radius: 1rem;
}

button {
    margin-top: 0.5rem;
    background-color: rgb(105, 188, 105);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
}

#reset {
    background-color: rgb(195, 82, 82);
}

footer {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}