@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}

body {
  white-space: nowrap;
  overflow: hidden;
  background-image: radial-gradient(circle, #e2e3df, #e3e6d9, #e3e8d4, #e3ebcf, #e3eec9);
}

h1 {
 font-size: 2rem;
}

.img-cronometro {
  width: 350px;
}

.buttons-container {
  margin-top: 9rem;
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

#contador {
  color: rgb(198, 207, 216);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}


.btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.1s ease-in-out;
}

.btn.active {
  box-shadow: 0px 2px 4px rgba(3, 5, 9, 4.4);
}

.iniciar.active {
  background-color: rgb(164, 206, 164);
}

.pausar.active {
  background-color: rgb(197, 110, 110);
}

.resetar.active {
  background-color: rgb(164, 164, 204);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem; 
}


/*responsividade*/
@media(max-width:600px) {

  main {
    margin: 10rem auto;
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-right: 10px;
  }
  
    .buttons-container button {
      height: 25px;
    }
  
  .img-cronometro {
    width: 300px;
    margin-left: 1rem;
  }

  #contador {
    display: flex;
    font-size: 38px;
    margin-top: -280px;
    padding: 6rem;
    padding-left: 5rem;
  }
}

