.contato {
    border: solid 1px;
    border-radius: 1rem 5rem;
    max-width: 600px;
    padding: 0.5rem;
    margin: 8rem auto;
    -webkit-box-shadow: -15px 22px 0px -2px rgba(0,0,0,1);
    -moz-box-shadow: -15px 22px 0px -2px rgba(0,0,0,1);
    box-shadow: -15px 22px 0px -2px rgba(0,0,0,1);
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.contato svg {
    border: double #000000;
    padding: 1rem;
    border-radius: 1rem;
    color: #030202;
}
.contato a {
    text-decoration: none;
}
.linkedin:hover {
    color: #78b5db;
    border: none;
    cursor: pointer;
}
.github:hover {
    color: #c692df;
    border: none;
    cursor: pointer;
}
.email:hover {
    color: #d88882;
    border: none;
    cursor: pointer;
}
.sections-c {
    display: flex;
    justify-content: center;
    border: none;
    display: none;
}
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='rgba(217%2c 229%2c 241%2c 1)'%3e%3c/rect%3e%3cpath d='M310.06 795.02C497.1 779.29 579.72 424.86 947.6 398.5 1315.49 372.14 1404.18 63.78 1585.15 52.9' stroke='rgba(0%2c 0%2c 0%2c 0.83)' stroke-width='2'%3e%3c/path%3e%3cpath d='M626.6 898.52C778.65 845.01 768.73 437.95 1028.4 394.28 1288.08 350.61 1320.55 221.48 1430.21 217.64' stroke='rgba(0%2c 0%2c 0%2c 0.83)' stroke-width='2'%3e%3c/path%3e%3cpath d='M627.59 902.6C805.03 856.91 865.68 376.26 1132.63 371.47 1399.57 366.68 1503.29 552.94 1637.66 555.79' stroke='rgba(0%2c 0%2c 0%2c 0.83)' stroke-width='2'%3e%3c/path%3e%3cpath d='M102.08 841.16C216.33 838.01 313.35 670.67 526.26 670.6 739.17 670.53 738.36 766.6 950.45 766.6 1162.54 766.6 1265.9 671.2 1374.63 670.6' stroke='rgba(0%2c 0%2c 0%2c 0.83)' stroke-width='2'%3e%3c/path%3e%3cpath d='M177.67 844.58C377.33 828.28 516.07 425.6 860.45 425.2 1204.84 424.8 1362.5 659.9 1543.24 663.28' stroke='rgba(0%2c 0%2c 0%2c 0.83)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1366' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.contatoA {
    font-weight: bold;
    border-bottom: double #fff;
}
figcaption {
    text-align: center;
    color: #000000;
}
/*Responsividade*/
@media(max-width:663px) {
    .sections {
        display: flex;
    }
    .contato {
        max-width: 200px;
        margin: 0 auto;
    }
    .sections-c {
        margin-top: 2rem;
    }
    .sc {
        background-color: rgb(10, 10, 14);
    }
    body {
        margin: 0.5rem;
    }
    .headerC {
        display: none;
    }
}