@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    -webkit-box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.75);
    padding: 1rem;
}
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1411.5333333333333 768L0 768 L0 522.11Q45.28 453.56%2c 113.83333333333333 498.84Q212.85 484.02%2c 227.66666666666666 583.04Q274.82 516.36%2c 341.5 563.51Q358.65 512.36%2c 409.8 529.51Q450.09 501.49%2c 478.1 541.78Q540.64 490.48%2c 591.9333333333334 553.02Q696.02 543.27%2c 705.7666666666668 647.36Q779.27 607.03%2c 819.6000000000001 680.54Q870.9 618%2c 933.4333333333335 669.3Q938.23 560.26%2c 1047.2666666666669 565.05Q1060 509.48%2c 1115.5666666666668 522.21Q1135.11 473.46%2c 1183.8666666666668 493Q1246.64 441.94%2c 1297.7 504.72Q1378.81 471.99%2c 1411.5333333333333 553.1z' fill='rgba(1%2c 6%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1479.833333333333 768L0 768 L0 665.79Q31.86 629.35%2c 68.3 661.2Q96.67 621.27%2c 136.6 649.64Q183.87 628.61%2c 204.89999999999998 675.87Q278.42 635.56%2c 318.7333333333333 709.08Q405.57 682.08%2c 432.5666666666666 768.92Q453.48 721.53%2c 500.8666666666666 742.45Q496.67 669.95%2c 569.1666666666666 665.75Q620.25 603%2c 683 654.08Q745.31 648.09%2c 751.3 710.4Q801.97 692.77%2c 819.5999999999999 743.44Q885.14 695.14%2c 933.4333333333333 760.68Q949.45 708.39%2c 1001.7333333333332 724.41Q1012.1 666.48%2c 1070.0333333333333 676.84Q1141.47 634.45%2c 1183.8666666666666 705.89Q1297.82 706.01%2c 1297.6999999999998 819.96Q1296.48 750.44%2c 1365.9999999999998 749.22Q1398.19 667.57%2c 1479.833333333333 699.76z' fill='rgba(226%2c 225%2c 226%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1366' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
nav a{
    color: #000;
}
.inicio {
    font-weight: bold;
}
nav a:hover {
    font-weight: bold;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.left {
    max-width: 500px;
}
figure {
    height: 500px;
    margin: 2rem 1rem;
    background-color: #e2e1e2;
}
.icon-home img {
    width: 600px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
h1 {
    letter-spacing: 10px;
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;  
}
.conteudo-right {
    margin-top: -4rem;
    margin-left: 2rem;
}
.skills {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 300px;
    flex-wrap: wrap;
    font-style: italic;
    margin: 1rem;
}
.sections {
    display: none;
}
.home {
    background-color: #e9e635;
}
/*Responsividade*/
@media(max-width:950px){
    figure {
        height: 400px;
        display: flex;
        border-radius: 1rem 5rem;
        margin: 6rem;
    }
    header {
        display: none;
    }
    .skills {
        margin-top: -3.5rem;
    }
    .sections {
       display: flex;
       align-items: center;
       gap: 3rem;
       margin-top: 2rem;
       margin-bottom: 1rem;
    }
    .sections div {
        border: solid;
        width: 20px;
        height: 20px;
        border-radius: 1rem;
        cursor: pointer;
        color: #ad9b9b;
    }
}
@media(max-width:902px) {
    main {
        max-width: 400px;
        margin: 1.5rem auto;
        -webkit-box-shadow: 14px -22px 0px -5px rgba(3,10,15,1);
        -moz-box-shadow: 14px -22px 0px -5px rgba(3,10,15,1);
        box-shadow: 14px -22px 0px -5px rgba(3,10,15,1);
    }
    figure {
        height: 300px;
        width: 300px;
        margin: 0.5rem;
        border: none;
        background-color: #fff;
    }
    figure img { 
        width: 100%;
    }
    header {
        display: none;
    }
    .skills {
        margin-top: -3.5rem;
    }
    .sections {
       display: flex;
       align-items: center;
       gap: 3rem;
       margin-top: 2rem;
       margin-bottom: 1rem;
    }
    .sections div {
        border: solid;
        width: 20px;
        height: 20px;
        border-radius: 1rem;
        cursor: pointer;
    }
    h1 {
        font-size: 1.5rem;
    }
}
@media(max-width:923px) {
    body {
        padding: 1rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='923' height='654' preserveAspectRatio='none' viewBox='0 0 923 654'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1047%26quot%3b)' fill='none'%3e%3crect width='923' height='654' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M984.533333333333 654L0 654 L0 660.25Q-37.87 576.23%2c 46.15 538.37Q149.52 595.59%2c 92.3 698.96Q89.69 650.2%2c 138.45 647.59Q124.25 587.25%2c 184.6 573.05Q200.29 511.82%2c 261.51666666666665 527.51Q310.33 499.41%2c 338.4333333333333 548.23Q373.67 537.32%2c 384.58333333333326 572.55Q438.35 549.4%2c 461.4999999999999 603.17Q529.35 624.88%2c 507.64999999999986 692.73Q494.08 633.01%2c 553.7999999999998 619.45Q547.42 566.93%2c 599.9499999999998 560.55Q617.7 532.15%2c 646.0999999999998 549.9Q662.34 520%2c 692.2499999999998 536.24Q740.4 538.24%2c 738.3999999999997 586.4Q799.6 570.69%2c 815.3166666666664 631.89Q867.14 637.56%2c 861.4666666666664 689.38Q831.44 613.21%2c 907.6166666666663 583.18Q928.35 527%2c 984.533333333333 547.73z' fill='rgba(1%2c 6%2c 12%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1047'%3e%3crect width='923' height='654' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    figure {
        width: 250px;
    }
    h1 {
        font-size: 1rem;
        letter-spacing: 5px;
    }
    .risco {
        width: 180px;
        height: 90px;
    }
    .skills p {
        font-size: 0.8rem;
    }
}